body {
    font-family: "NanumSquare", "나눔바른고딕", "Nanum Gothic", 나눔고딕, "맑은 고딕", MalgunGothic, 돋움, Dotum, Gulim, 굴림;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.f_nav-top {
    padding-top: 23px;
}

.f_btn1 {
    width: 72px;
    height: 25px;
    background-color: #046fd9;
    border: 1px solid #49a5ff;
    border-top: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 0 8px;
    text-align: center;
    padding: 4px 10px;
    margin-right: 10px;
}

.f_btn2 {
    color: #111;
    border: 0;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 20px;
}

.f_btn3 {
    color: #333333;
    font-size: 13px;
    font-weight: 600;
}

.f_nav-cont {
    display: flex;
    justify-content: space-around;
}

.f-search {
    width: 390px;
    height: 34px;
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #046fd9;
}

.f_ul2 {
    color: #666666;
    font-size: 13px;
    font-weight: 600;
}

.f_ul2:hover {
    color: #666666;
}

.f_menu {
    height: 56px;
    background: #046fd9;
    padding-left: 137px;
}

.f_m {
    padding-left: 80px;
}

.f_menu-a {
    color: #fff;
    padding: 0 20px;
    min-width: 30px;
    height: 53px;
    line-height: 55px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.04em;
    
}

.f_menu-a:hover {
    color: #fff;
}

.f_nav-cont2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.f_bd1 {
    height: 478px;
    background-color: #dee6ee;
}

.f_bd1-1 {
    line-height: normal;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 50px 10px 0;
}

.f_dvd {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.f_bd1-2 {
    background-color: #fff;
    width: 280px;
    height: 260px;
    text-align: center;
}

.f_bd1-2:hover {
    background-color: #1687f7;
}

.f_bd1-3 {
    background-color: #1687f7;
    width: 280px;
    height: 260px;
    text-align: center;
    color: #fff;
}

.f_bd1-3:hover {
    background-color: #fff;
}

.f_bd1-2c {
    color: #1687f7;
}

.f_bd1-2-1 {
    padding-bottom: 10px;
}

.f_bd1-2-2 {
    font-size: 30px;
    font-weight: 900;
    color: #111;
}

.f_bd1-3-2 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.f_nav-btn1 {
    padding-right: 300px;
}

.f_nav-btn2 {
    margin-right: 100px;
}

.f_c {
    color: #dddddd;
}

.f_nav-R {
    text-align: end;
}